@font-face {
    font-family: "Belinda";
    src: url("../fonts/belinda.otf");
}

@font-face {
    font-family: "NexaRegular";
    src: url("../fonts/NexaRegular.otf");
}

@font-face {
    font-family: "NexaHeavy";
    src: url("../fonts/NexaHeavy.otf");
}

