body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.main-container {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* SOME USEFUL PRESETS */

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #37434c;
    margin-bottom: 35px;
    font-size: 15px;
}

p {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777c80;
}

.header,
.main-container > div,
.footer {
    padding: 65px 0;
    margin: 0;
    border: 0;
    position: relative;
    box-sizing: inherit;
    width: 100%;
}

.section-2,
.section-4,
.section-6,
.footer {
    background-color: #efefef;
}

.section-3,
.section-5,
.section-7 {
    background-color: #f5f5f5;
}

.content {
    max-width: 590px;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #00c4b0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    position: relative;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
}

.btn-big {
    margin-top: 65px;
    font-size: 15px;
    font-weight: 700;
    z-index: 3;
    padding: 14px 45px;
    border-radius: 25px;
}

.btn-big:hover {
    filter: brightness(1.1) saturate(1.2) drop-shadow(0 0 7px #000000);
}

.btn-small {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 20px;
}

.btn-small.gray {
    background-color: #d2d5da;
}

.btn-small:hover {
    filter: brightness(1.05) saturate(1.2) drop-shadow(0 0 1px #777c80);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

.header {
    box-sizing: inherit;
    margin: 0;
    padding: 60px 0 115px;
    z-index: 1;
    background: url("../img/Layer7.png") 50% 0 no-repeat;
    background-size: cover;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.header::before {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

.elena-icon {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-bottom: 45px;
}

.navigation {
    position: relative;
    z-index: 3;
}

.nav-ref {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 12px;
    margin: 0 18px;
    transition: 0.2s;
    cursor: pointer;
}

.nav-ref:hover {
    color: #c5ccc8;
}

.header-h1 {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    color: #ffffff;
    font-size: 53px;
    position: relative;
    z-index: 3;
    margin: 60px 0 30px 0;
}

.header-p {
    position: relative;
    z-index: 3;
    color: #ffffff;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.header-p::before,
.header-p::after {
    content: "";
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: middle;
    width: 105px;
    height: 2px;
    background: #4d7879;
}

.header-p::before {
    margin-right: 30px;
}

.header-p::after {
    margin-left: 30px;
}

/* SECTION 2 */

.s-2 {
    position: relative;
    width: 30%;
    padding-top: 65px;
    text-align: center;
    float: left;
}

.s-2.profesionals {
    background: url("../img/user-group.png") 50% 9px no-repeat;
}

.s-2.amateurs {
    background: url("../img/heart.png") 50% 7px no-repeat;
    margin: 0 calc((100% - 30%*3)/2);
}

.s-2.everyone {
    background: url("../img/headset.png") 50% 0 no-repeat;
}

.s-2-p::before {
    content: "";
    position: relative;
    top: -20px;
    margin: 0 auto;
    height: 2px;
    width: 130px;
    border: 0;
    display: block;
    background-color: #e2e3e4;
}

/* SECTION 3 */

.s-3 {
    position: relative;
    display: inline-block;
    width: 264px;
    text-align: left;
}

.s-3.responsive-email {
    float: left;
}

.s-3.compatible-template {
    float: right;
}

.s-3-h2 {
    font-size: 18px;
    margin-top: 25px;
}

.s-3-p::before {
    content: "";
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 2px;
    width: 110%;
    border: 0;
    background-image: linear-gradient(to right, #e2e3e4, #f3f3f4);
}

/* SECTION 4 */

.section-4 {
    position: relative;
    text-align: left;
}

.s-4-h2 {
    font-size: 18px;
    line-height: 23px;
    padding-left: 40px;
    background: url("../img/circle.png") 0 50% no-repeat;
}

.s-4-p::before {
    content: "";
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 2px;
    width: 90%;
    border: 0;
    background-image: linear-gradient(to right, #e2e3e4, #ededee);
}

/* SECTION 5 */

.s-5 {
    position: relative;
    display: inline-block;
    width: 181px;
    text-align: left;
    float: left;
}

.s-5.compatibility {
    margin: 0 calc((100% - 3*181px)/2);
}

.s-5-h2 {
    margin-top: 25px;
}

.s-5-p::before {
    content: "";
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 2px;
    width: 100%;
    border: 0;
    background-image: linear-gradient(to right, #e2e3e4, #eff0f0);
}

.s-5-ref {
    display: block;
    margin-top: 20px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #00c4b0;
    transition: 0.2s;
    cursor: pointer;
}

.s-5-ref:hover {
    filter: brightness(0.7) saturate(1.2);
}

/* SECTION 6 */

.s-6 {
    position: relative;
    display: inline-block;
    width: 45%;
    text-align: left;
}

.s-6.send-it {
    float: left;
}

.s-6.nice-to-see {
    float: right;
}

.s-6-h2 {
    font-size: 18px;
    line-height: 23px;
    padding-left: 40px;
}

.s-6-h2.send {
    background: url("../img/send-icon.png") 0 50% no-repeat;
}

.s-6-h2.see {
    background: url("../img/pen-icon.png") 0 50% no-repeat;
}

.s-6-p::before {
    content: "";
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 2px;
    width: 90%;
    border: 0;
    background-image: linear-gradient(to right, #e2e3e4, #e7e7e9);
}

/* SECTION 7 */

.section-7 {
    position: relative;
}

.section-7 .content > * {
    display: inline-block;
    vertical-align: top;
}

.s-7.for-you {
    position: relative;
    margin-left: 30px;
    width: calc(100% - 264px - 30px - 5px);
    text-align: left;
}

.s-7-h2 {
    font-size: 18px;
}

.s-7-p::before {
    content: "";
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 2px;
    width: 95%;
    border: 0;
    background-image: linear-gradient(to right, #e2e3e4, #f3f3f4);
}

/* SECTION 8 */

.section-8 {
    position: relative;
    background-color: #00c4b0;
    text-align: center;
}

.s-8-h2 {
    display: inline-block;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 18px;
    padding-left: 20px;
    background: url("../img/star-icon.png") no-repeat;
}

.s-8-h2::before {
    content: "";
    position: relative;
    display: block;
    top: 40px;
    left: -15px;
    height: 2px;
    width: 255px;
    border: 0;
    background-color: #61c8b6;
}

.featured-on {
    padding: 10px 0 0;
    width: 100%;
    text-align: justify;
}

.featured-on::after{
    content: "";
    width: 100%;
    display: inline-block;
}

.atlaspix-icon,
.techcrunch-icon {
    vertical-align: bottom;
}

/* FOOTER */

.footer {
    box-sizing: inherit;
    position: relative;
    padding: 20px 90px;
}

.copyright {
    float: left;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #777c80;
}

.c2013 {
    color: #aaacaf;
}

.unsubscribe {
    text-decoration: none;
    color: #aaacaf;
    transition: 0.2s;
    cursor: pointer;
}

.unsubscribe:hover {
    color: #777c80;
}

.social {
    float: right;
}

.social div {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
}

.social div:hover {
    filter: brightness(0.3) saturate(1.2);
}

.google {
    background: url("../img/google-icon.png") 0 1px no-repeat;
}

.facebook {
    background: url("../img/facebook-icon.png") 1px 0 no-repeat;
}

.twitter {
    background: url("../img/twitter-icon.png") 0 2px no-repeat;
}